# Python virtual environment
venv/

# Python cache files
__pycache__/
*.pyc

# Data and metadata files
data/
*.csv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS specific files
.DS_Store

# IDE and editor configuration
.vscode/
.idea/

# Trained models from our script and downloaded pre-trained models
trained_models/
*.pth
*.pt

# Generated audio files
generated_audio/
*.wav

# Redundant archives
*.zip

# Temporary test scripts and input files
test_*.py
input.txt

# In your .gitignore file, add these at the end


# Explicitly allow our first sample and input file
!generated_audio/output_4.wav
!input.txt